
        
          
          <div [ngClass]="adicionar()"  class=" hamburger hamburger--collapse">
            <div      (click)="green()" class="hamburger-box">
            <div   class="hamburger-inner"></div>
            </div>
          </div> 

          <button type="button" class=" direita btn btn-primary " data-toggle="modal" data-target="#exampleModalLong">
              Entrar
            </button>      
            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">          
                  <div class="modal-body">
                    <app-login></app-login>            
                  </div>          
                </div>
              </div>
        </div>
        
<div style=" box-shadow: 0px 0px 0px 1px rgba(16, 17, 17, 0.657);"  [@openClose]="isOpen ? 'open' : 'closed'" class="rounded text-center open-close-container">
    <!-- <p >A caixa está {{ isOpen ? 'Aberta' : 'Fechada' }}!</p> -->
    <!-- Button trigger modal -->
  
  </div>  
